DJANGO_SECRET_KEY=your_django_secret_key

DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=3306

PAYU_KEY=your_payu_key
PAYU_SALT=your_payu_salt
PAYU_SUCCESS_URL=your_payu_success_url
PAYU_FAILURE_URL=your_payu_failure_url

MAKE_WEBHOOK_URL=your_make_webhook_url